body
        {
        
        background-image: linear-gradient(to right , rgb(255, 255, 255), rgb(61, 60, 60));

        }
        main
        {
            width: 700px;
            padding: 10px;
        }
        h1
        {
            
            color: rgb(37, 39, 39);
        }
        h2
        {
            
            color: rgb(37, 39, 39);
        }
        p
        {
            text-align:justify;
        }
        
